# -*- muttrc -*-

# set to plain mail sender:
set sendmail = ~/bin/plain-sendmail

# To have visual state indication, you can catenate this variable's
# value to you Mutt's status line or title. If you do so, you might
# want to add the command <refresh> to the end of the macro below,
# just after the command <enter>.
set my_sendmail_desc="[Text]"

# define a macro that switches to HTML-mail sender:
macro generic,pager,compose "\cS" '\
<enter-command>set my_default_sendmail_config=$my_sendmail_html_config<enter>\
<enter-command>source $my_default_sendmail_config<enter><refresh>'\
 "Toggle sent mail format (plain/html)."
